<h2><%= @category.name %> Gifs</h2>


<% @gifs.each do |gif| %>
  <img src="<%= gif.image_path %>">
  <%= link_to 'FAVORITE', user_gifs_path(current_user.id, gif_id: gif.id), method: :post if current_user.gifs.include?(gif) == false %>
  <%= link_to 'UNFAVORITE', user_gif_path(current_user, gif), method: :delete if current_user.gifs.include?(gif)%>
<% end %>